---
import StickoLegalDoc from '../../components/StickoLegalDoc.astro';
import StickoLayout from '../../layouts/StickoLayout.astro';
import { getUi } from '../../i18n/ui';

const t = getUi(Astro.currentLocale);
---

<StickoLayout title={t.legal.termsTitle} description={t.sticko.metaDescription} showLegalBar={false}>
	<div class="sticko-legal-page">
		<h1>{t.sticko.legal.terms}</h1>
		<StickoLegalDoc type="terms" />
	</div>
</StickoLayout>
